@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange-1:  #FAB001;
  --orange-2:  #D6970A;
  --red-1:  #C87350;
  --orange-1:  #C87350;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #bbaeae;
    border-radius: 5px;
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.678);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}